body
{
background-image: url("1e78766ed3dfbffcd8b66356a8223cb8.jpg");
color:yellow;
}
.heading
{
  width: 80%;
  font-size: 22px;
}
#camera 
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.name_of_objects, #result_object_name  , #result_object_accuracy
{
  color: yellow;
}


